[class*='col-']{
  height: 150px;
  border: 1px solid #000;
  background-color: rgba(255, 192, 203, 0.4);
  position: relative;
  text-align: center;
}
.col-xs-6, .col-md-6, .col-lg-6{
  padding: 5px;
}
.nested{
  border: 1px solid #fff;
  background-color: pink;
}
.container-nested, .nested{
  height: 100%;
}

.center-txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
